.Login {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    min-width: 800px;
    position: relative;
    background: url('../../assets/login_bg.jpg') no-repeat center;
    background-size: 100% 100%;
}

.Login .loginBox {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.35);
    width: 1000px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    transform: translateY(-50%);
    padding: 20px;
}

.loginBox .content {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 670px;
    transform: translateY(-50%);
    text-align: center;
}

.loginBox .content input {
    text-align: left;
}

.loginFormButton {
    border: none;
}


.loginBox::after{
    content: '';
    background: url('../../assets/login_icon.png') no-repeat center;
    background-size: 100% 100%;
    width: 600px;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.Login .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    background: #eee;
}